<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.bixi"
	android:versionCode="1"
	android:versionName="1.0" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

	<uses-sdk
		android:minSdkVersion="13"
		android:targetSdkVersion="19" />

	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name" >

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/map_key"/>

		<activity android:name=".activities.LauncherActivity"
			android:theme="@android:style/Theme.Holo.NoActionBar" 
			android:noHistory="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".activities.StationListActivity"
            android:theme="@style/AppTransparentTheme"/>

        <activity android:name=".activities.GeofenceListActivity"
            android:theme="@style/AppStandardTheme"/>

		<service android:name="io.pivotal.arca.service.OperationService" 
			android:exported="false" />

        <service
            android:name=".application.BixiIntentService"
            android:exported="false" />

		<provider android:name=".providers.BixiContentProvider"
			android:authorities="com.bixi.providers.BixiContentProvider"
			android:exported="false" />

	</application>

</manifest>